*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

.titulo{
    width: 95.6%;
    background-color: blue;
    padding: 2%;
    border: 2px solid white;
}

.paragrafo{
    text-align: center;
    font-size: 18px;
    font-family: Verdana;
    color: white;
}
#top{
    font-weight: bold;
    font-size: 30px;
    font-family: Verdana;
    text-align: center;
    color: white;
}

#elemento{
    background: linear-gradient(to right top, red, blue);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    font-size: 30px;
    margin: 10% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;

    animation: mover 2s linear infinite alternate; 
}

@keyframes mover {
    from {
        transform: translate(-50%) rotate(0deg);
    }
    to {
        transform: translate(50%) rotate(360deg);
    }

}